# est un commentaire, sera ignoré

*.tmp # tous les fichiers terminant par '.tmp' seront ignorés

!important.tmp # sauf le fichier important.tmp, qui lui sera commité

/node_modules # tout ce qui se trouve dans le dossier 'node_modules' sera ignoré