/* Sidebar (navbar) initialement cachée */
.menu-container {
  position: fixed;
  top: -100%; /* Cachée en dehors de la vue, au-dessus */
  left: 0;
  width: 100%; /* La navbar prend toute la largeur de l'écran */
  height: 40%; /* La navbar occupe tout l'écran quand elle est visible */
  background: #d4ceb0;
  z-index: 1000;
  transition: top 1.5s ease; /* Animation de descente */
}

/* Sidebar visible (déployée) */
.menu-container.open {
  top: 60px; /* Déplace la navbar à sa position visible */
}


/* Déplacer le contenu du site vers le bas lorsque le menu est ouvert */
.site-container.menu-open {
  padding-top: 480px; /* Ajustez cette valeur selon la hauteur de votre header */
  transition: padding-top 1.5s ease;
}


.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  background: #f5f5dc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1001;
}

.logo {
  font-size: 30px;
}

.menu-btn {
  background: none;
  border: none;
  color: #827055;
  font-size: 24px;
  cursor: pointer;
}

.center {
  display: flex;
  flex-direction: column; /* Aligne les éléments verticalement */
  justify-content: center;
  align-items: center;
  height: 100%;
}

.list-items {
  list-style-type: none;
  font-size: 20px;
  font-weight: bold;
  padding: 0;
  margin: 0;
  text-align: center;
}

.list-items > li {
  margin: 20px 0; /* Espace vertical entre les éléments */
}

/* Liens de navigation */
.list-items a {
  text-decoration: none;
  color: #827055;
  padding: 15px 10px;
  display: block;
}

.list-items a:hover {
  color: #ede7cf;
}
